body {
  background: #f8f6f5;
  font-family: sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  display: flex;
  width: 100%;
  height: 10rem;
  align-items: center;
  margin: auto;
}

.menu-container {
  justify-content: space-evenly;
  width: 26%;
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
}

nav.menu-container {
  justify-content: space-evenly;
  width: 26%;
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
}
a.menu-item {
  text-decoration: none;
  color: #00373e;
  font-weight: 500;
  font-size: 1.4vw;
}

.logo-container {
  width: 26%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}
.logo {
  width: 10vw;
}

.header-buttons-container {
  display: flex;
  width: 26%;
  justify-content: right;
  text-align: center;
  align-items: center;
  margin: auto;
}

.hamburguer-menu {
  display: none;
}

.log-in {
  font-weight: 500;
  font-size: 1.4vw;
  border: none;
  background-color: #f8f6f5;
}

.sign-up {
  background: white;
  border-radius: 1rem;
  font-weight: 500;
  font-size: 1.4vw;
  border: none;
  width: 6rem;
  height: 2rem;
}

.sign-up:hover {
  background-color: burlywood;
  transition: 0.5s;
}

.first-box {
  display: flex;
  width: 90%;
  margin: auto;
  background-color: #00373e;
  color: white;
  border-radius: 5rem;
  text-align: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  height: 45rem;
  position: relative;
  overflow: hidden;
}

.first-box-title {
  font-size: 8vw;
  width: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  padding-bottom: 1rem;
}

.first-box-subtitle {
  font-size: 2vw;
  width: 45%;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.first-box-button {
  font-size: 1.5vw;
  text-decoration: none;
  background-color: #cafff2;
  color: #00373e;
  border-radius: inherit;
  font-weight: 600;
  width: 10%;
  height: 3rem;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.first-box-button:hover {
  background-color: burlywood;
  transition: 0.5s;
}

.image-first-box-1 {
  border-radius: 10% 60% 100% 11% / 10% 60% 23% 67%;
  position: absolute;
  top: -7vw;
  left: -10vw;
  height: 30vw;
}

.image-first-box-2 {
  position: absolute;
  height: 20vw;
  bottom: -2vw;
  border-radius: 32% 65% 13% 99% / 19% 100% 0% 72%;
  left: 10vw;
}

.image-first-box-3 {
  position: absolute;
  height: 25vw;
  right: -7vw;
  border-radius: 48% 92% 100% 100% / 43% 98% 18% 89%
}

.second-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 55vw;
  align-items: center;
}

.first-part-second-box {
  width: 45%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 34vw;
}

.second-box-tittle {
  width: 43vw;
  font-size: 14px;
  margin-bottom: 3%;
}

.second-box-subtittle {
  width: 43vw;
  font-size: 56px;
  margin-bottom: 4%;
}

.second-box-paragraph {
  width: 43vw;
  font-size: 24px;
  margin-bottom: 4%;
}

.menu-second-box {
  width: 43vw;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-weight: 600;
}

.menu-item-second-box {
  margin-bottom: 2%;
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 2%;
  border-radius: 1vw;
}

.menu-item-second-box:hover {
  background-color: burlywood;
  transition: 0.5s;
}

.card-second-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: white;
  padding: 1.5rem;
  width: 34%;
  border-radius: 2rem;
  height: 34vw;
  align-items: center;
}

.card-image {
  border-radius: 2rem;
  width: 34vw;
}

.description-card {
  margin-top: 2rem;
  width: 85%;
  text-align: center;
  font-size: 1.2vw;
}

.four-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  height: 20vw;
}

.content-four-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  background-color: #fbd3b6;
  height: 10vw;
  border-radius: 2rem;
}

.five-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 15vw;
  max-width: 40%;
  margin: 10px auto;
}

.tittle-five-box {
  display: flex;
  font-size: 14px;
}

.subtittle-five-box {
  display: flex;
  font-size: 40px;
  width: 25vw;
}

.paragraph-five-box {
  display: flex;
  font-size: 24px;
  width: 23vw;
}

.six-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 30rem;
}

.card-six-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 35%;
  height: 20rem;
  background-color: white;
  position: relative;
  overflow: hidden;
  border-radius: 2rem;
}

.tittle-six-box {
  font-size: 40px;
  margin-bottom: 1.5rem;
}

.paragraph-six-box {
  font-size: 20px;
  width: 80%;
}

.image-six-box {
  position: absolute;
  display: flex;
  height: 22vw;
  left: 16rem;
}

.seven-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  border-radius: 2rem;
  width: 100%;
  height: 25rem;
  flex-direction: column;
}

.card-seven-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 80%;
  height: 25rem;
  border-radius: 2rem;
}

.tittle-seven-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
  height: 5rem;
}

.paragraph-seven-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  width: 35%;
  line-height: 1.4;
}

.image-1-seven-box {
  position: absolute;
  height: 30vw;
  right: 45vw;
}

.image-2-seven-box {
  position: absolute;
  height: 30vw;
  left: 45vw;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  nav.menu-container {
    display: none;
  }

  .logo-container {
    width: initial;
    margin: 0;
  }
  .logo-container img {
    width: 30vw;
  }
  .header-container {
    justify-content: space-between;
    padding: 0 2rem;
  }

  .header-buttons-container {
    display: none;
  }
  .hamburguer-menu {
    display: block;
    background-color: #00373e;
    border-radius: 2rem;
  }

  .hamburguer-menu img {
    color: white;
    width: 3rem;
    margin: 0.5rem;
  }

  .first-box {
    height: 30rem;
  }

  .first-box-title {
    width: 70%;
    font-size: 12vw;
  }
  .first-box-subtitle {
    font-size: 5vw;
    width: 84%;
  }
  .first-box-button {
    font-size: 4vw;
    width: 30%;
  }
  .image-first-box-1 {
    top: -7vw;
    left: -5vw;
  }
  .four-box {
    display: none;
  }
  .second-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65rem;
    flex-direction: column;
  }
  .first-part-second-box {
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
  }
  .second-box-tittle {
    width: 100%;
    font-size: 3.5vw;
    height: 10vw;
  }
  .second-box-subtittle {
    width: 100%;
    font-size: 7vw;
    height: 20vw;
  }
}
